.App {
    font-family: 'Roboto';
    font-size: 22px;
    text-align: center;
    padding: 0% 3% 3% 3%;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
}

.App-header {
    background-color: #50b074;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    padding-bottom: 2%;
}

.category-title {
    padding-left: 25px;
    text-align: left;
    background-color: rgb(30, 154, 158);
    color: rgb(244, 248, 252);
    width: 100%;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.computation-cards-contents {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.computation-option {
    padding-top: 20px;
    background-color: #69bbb0;
    height: 290px;
    border: 2px solid #038372;
    border-radius: 5px;
}
.selected {
    background-color: #009b86;
}

.computation-option-button {
    margin-top: 12px;
    cursor: 'pointer';
    background-color: #4128fd;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    width: 80px;
    padding: 15px;
}

.selected-item {
    cursor: 'pointer';
    background-color: #286f65;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    padding: 15px;
}

.computation-option-button:hover {
    background-color: #009b86;
}

.launch-button {
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
    padding: 15px;
    border: none;
    width: 350px;
    color: white;
    background-color: rgb(250, 62, 62);
    font-size: 25px;
    border-radius: 5px;
}

.launch-button:hover {
    background-color: #34ac9c;
}

.header-title {
    font-size: 35px;
    padding-bottom: 15px;
    color: #5e6063;
}
